<sidebar></sidebar>
<div class="send">
	<div class="panel">
		<div class="panel-header">
			<h3>Send Money</h3>
		</div>
		<div class="content ally">
			<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#mpesa">Mpesa to Visa</a></li>
  <li><a data-toggle="tab" href="#visa">Visa to Mpesa</a></li>
  <li><a data-toggle="tab" href="#account">Setup Account Information</a></li>
</ul>

<div class="tab-content">
  <div id="mpesa" class="tab-pane fade in active">
    <h3>Mpesa</h3>
    <p>Send money from Mpesa to Visa</p>
    <form class="form-horizontal col-md-4 ">
    <fieldset>
    	<div class="input-group">
            <input type="number" class="form-control" placeholder="Phone Number">
          </div>
          <br>
    	 <div class="input-group">
            <span class="input-group-addon">$</span>
            <div class="col-md-4">
    <select id="blood_group" name="currency" class="form-control">
      <option value="-1">Choose your currency</option>
      <option value="1">USD</option>
      <option value="2">KSH</option>
      <option value="3">UAE</option>
      <option value="4">TSH</option>
    </select>
  </div>
          </div>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Amount">
            <span class="input-group-addon">.00</span>
          </div>
          <br>
          <div class="form-group">
  			<label for="comment">Summary of the transaction (optional):</label>
  			<textarea class="form-control" rows="5" id="comment"></textarea>
		</div>
          <br>
          <input type="submit" value="Send">
          </fieldset>
    </form>
  </div>
  <div id="visa" class="tab-pane fade">
    <h3>Visa</h3>
    <p>Send money from Visa to Mpesa</p>

    <form class="form-horizontal col-md-4 ">
    <fieldset>
    	<div class="input-group">
            <input type="number" class="form-control" placeholder="Account Number">
          </div>
          <br>
    	 <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" placeholder="Currency">
          </div>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Amount">
            <span class="input-group-addon">.00</span>
          </div>
          <br>
          <div class="form-group">
  			<label for="comment">Reason:</label>
  			<textarea class="form-control" rows="5" id="comment"></textarea>
		</div>
          <br>
          <input type="submit" value="Send">
          </fieldset>
    </form>
  </div>
  <div id="account" class="tab-pane fade">
    <h3>Account</h3>
    <p>Setup your Account information</p>

<!-- Account Information form -->
<form class="form-horizontal">
<fieldset>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="Enter your name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="Enter your email id" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Enter a password" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="contact">Contact no.</label>  
  <div class="col-md-4">
  <input id="contact" name="contact" type="text" placeholder="Enter your contact no." class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="blood_group">Blood Group</label>
  <div class="col-md-4">
    <select id="blood_group" name="blood_group" class="form-control">
      <option value="-1">Select</option>
      <option value="1">A+</option>
      <option value="2">B+</option>
      <option value="3">AB+</option>
      <option value="4">O+</option>
      <option value="5">A-</option>
      <option value="6">B-</option>
      <option value="7">AB-</option>
      <option value="8">O-</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="street">Street</label>  
  <div class="col-md-4">
  <input id="street" name="street" type="text" placeholder="Enter your street" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="area">Area</label>  
  <div class="col-md-4">
  <input id="area" name="area" type="text" placeholder="Enter your area" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="city">City</label>  
  <div class="col-md-4">
  <input id="city" name="city" type="text" placeholder="Enter your city" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="dist">District</label>  
  <div class="col-md-4">
  <input id="dist" name="dist" type="text" placeholder="Enter your district" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signup"></label>
  <div class="col-md-4">
    <button id="signup" name="signup" class="btn btn-success">Sign Up</button>
  </div>
</div>

</fieldset>
</form>



  </div>
</div>
		</div>
	</div>
</div>