<sidebar></sidebar>
<div class="guide">
	<div class="co-md-12">
		<div class="panel">
			<div class="panel-header">
				<h3>This is yyour gude</h3>
			</div>
		</div>
		<div class="content">
			<h3>5. PROJECT DELAYS AND CLIENT LIABILITY</h3>
<p>
Any time frames or estimates that we give are contingent upon your full co-operation and complete and final content in photography for the work pages. During development there is a certain amount of feedback required in order to progress to subsequent phases. It is required that a single point of contact be appointed from your side and be made available on a daily basis in order to expedite the feedback process.
</p>
<h3>6. APPROVAL OF WORK</h3>
<p>
On completion of the work you will be notified and have the opportunity to review it. You must notify us in writing of any unsatisfactory points within 7 days of such notification. Any of the work which has not been reported in writing to us as unsatisfactory within the 7-day review period will be deemed to have been approved. Once approved, or deemed approved, work cannot subsequently be rejected and the contract will be deemed to have been completed and the 50% balance of the project price will become due.
</p>
<h3>7. REJECTED WORK</h3>
<p>
If you reject any of our work within the 7-day review period, or not approve subsequent work performed by us to remedy any points recorded as being unsatisfactory, and we, acting reasonably, consider that you have been unreasonable in any rejection of the work, we can elect to treat this contract as at an end and take measures to recover payment for the completed work.
</p>
		</div>
	</div>
</div>