<sidebar></sidebar>
<div class="calculator">
	<div class="panel">
		<div class="panel-header">
			<h3>Calculate the costs</h3>
		</div>
		<div class="col-md-8">
			<form class="form-horizontal">
			<label>Enter Amount to Calculate</label>
				<div class="input-group">
				<span class="input-group-addon">$</span>
            <input type="number" class="form-control" placeholder="Enter Amount">
            <span class="input-group-addon">.00</span>
          </div>
          <br>
          <input type="submit" value="Calculate" class="btn btn-success">
			</form>
		</div>
	</div>
</div>