<div class="login-page animate">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	 <img src="assets/images/flat-avatar.png" class="user-avatar" /> 
			<h1>Login<small>Here</small></h1>
			<form>
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" >
					</div>
				</div>
				<button type="submit" class="btn rounded-btn btn-success" routerLink="/dashboard" routerLinkActive="active"> Log in </button>
			</form>
				<br>or<br>
				<a routerLink="/register" routerLinkActive="active">register</a>
		</div>
	</div>
</div>