<div class="sidebar">
    <!-- Sidebar header -->
<div class="sidebar-header header-cover">
<div class="profile">
  <img src="assets/images/flat-avatar.png">
  <h4>Collins Lenjo</h4>
  <h6>Super Admin</h6>
</div>
</div>

<!-- Nav bar --> 
<div class="top-bar">

<ul>
  <li><a routerLink="/dashboard" routerLinkActive="active"><button><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</button></a></li>
  <li><a routerLink="/send" routerLinkActive="active"><button><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send money</button></a></li>
  <li><a routerLink="/activity" routerLinkActive="active"><button><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Recent activity</button></a></li>
  <li><a routerLink="/calculator" routerLinkActive="active"><button><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calculator</button></a></li>
  <li><a routerLink="/contacts" routerLinkActive="active"><button><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Contacts</button></a></li>
  <li><a routerLink="/customer" routerLinkActive="active"><button><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Helpdesk</button></a></li>
  <li><a routerLink="/terms" routerLinkActive="active"><button><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Terms & Conditions</button></a></li>
  <li><a routerLink="/guide" routerLinkActive="active"><button><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Guide</button></a></li>
  <li><a routerLink="/login" routerLinkActive="active"><button><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Logout</button></a></li>
</ul>


</div> 

<!-- Javascript starts here-->
	<script>
		$(document).ready(function() {
  function setHeight() {
    windowHeight = $(window).innerHeight();
    $('.sidebar').css('min-height', windowHeight);
  };
  setHeight();
  
  $(window).resize(function() {
    setHeight();
  });
});
	</script>
</div>