<div class="home">
<div class="header">
	<h3>Welcome to your Dashboard Collins</h3>
</div>
<!-- This is where my graph starts-->
<app-graph></app-graph>
<!-- This is where my graph ends-->

<div class="receipt container col-md-12">


​<div class="col-md-6">
​
<h2 class="core-heading1" style="text-align: center;">Enter Receipt Details</h2>
	
	<form class="form-horizontal payment-form" action="" name="imageUpload" id="imageUpload" method="POST" enctype="multipart/form-data" >
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
​​
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-date" id="text1" value="" placeholder="Date">
	
	</div>
	
	</div>
	
	
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-time" value="" placeholder="Time">
	
	</div>
	
	</div>
	
	
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-business" value="" id="text6" placeholder="Business">
	
	</div>
	
	</div>
	
	
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-address" value="" id="text2" placeholder="Address">
	
	</div>
	
	</div>
	
	
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-location" value="" id="text2" placeholder="City, State">
	
	</div>
	
	</div>
	
	
	
	
	
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	
	<div class="col-sm-4">
	<select class="form-control maininput" name="text-currency" id="text-currency">
	<option value ="$" selected >$</option>
	<option value ="pounds" > &#163;</option>
	<option value ="euros" > &#8364; </option>
	<option value ="DHS" > DHS </option>
	
	<option value ="INR" > Rs </option>
	<option value ="SGD" > SG $ </option>
	
	<option value ="none">None</option>
	</select>
	</div>
	
	<div class="col-sm-6">
	
	
	
	
	<input type="text" class="form-control maininput" name="text-cost" value="" id="text3" placeholder="Cost">
	</div>
	
	</div>
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	
	
	<input type="text" name="text-tip" class="form-control maininput" value="" id="text5" placeholder="Tip / Tax/ Additional "/>
	
	</div>
	
	</div>
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-last4" value="" id="text4" placeholder=" Payment:(VISA, MC, CASH)">
	
	</div>
	
	</div>
	
	
	
	
	
	<div class="radio" style="text-align:left;">
	
	<div class="col-sm-2"></div>
	
	<div class="col-sm-10">
	
	<label>
	
	<input type="hidden" name="style" class="set-group" id ="receipt1" value="square-taxi-receipt" />
	
	</label>
	
	</div>
	
	</div>
	<div id='p_scents' style="display:none" >
	<div class="row rowitems">
	<div class="col-md-3">QTY </div>
	<div class="col-md-5">ITEM </div>
	<div class="col-md-3">COST</div>
	</div>	
	
	
	<div class="row">
	<div class="col-md-3"> <input type="text" class="form-control maininput" id="p_qty" size="3" name="p_qty[]" value="" placeholder="QTY" /></div>
	<div class="col-md-5"> <input type="text" class="form-control maininput" id="p_scnt" size="24" name="p_scnt[]" value="" placeholder="Item Name" /></div>
	<div class="col-md-3"> <input type="text" class="form-control maininput" id="p_price" size="6" name="p_price[]" value="" placeholder="PRICE" /></div>
	<div class="col-md-1"></div>
	</div><br /> 
	</div>
	
	<div id='p_scents_a' style="display:none" >
	<div class="col-md-12">
	<a href="#" id="addScnt">&#8227;Click to Add Another Item</a>
	</div>
	<br><br>
	<div class="col-md-12">
	<input type="checkbox" name="ShowTip" value="Yes" > Display Tip Line<br>
	<input type="checkbox" name="ShowTotal" value="Yes" > Display Total Line<br>
	<input type="checkbox" name="ShowToGo" value="Yes" > Add "To Go" Line<br>
	</div>
	</div>
	<div class="form-group" style="visibility:hidden;">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	
	
	<select class="form-control maininput" name ="logo" id="logo" disabled>
	
	<option value="taxi" >Taxi</option>
	
	<option value="generic" >Bar Code</option>
	
	<option value="restaurant" >Restaurant</option>
	
	<option value="coffee" >Coffee</option>
	
	<option value="office" >Office Supply</option>
	
	<option value="map" >Map</option>
	
	
	
	</select>
	
	</div>
	
	</div>
	
	
	
	<div class="form-group">
	
	<div class="col-sm-offset-1 col-sm-10">
	
	<button type="submit" class="btn btn-default btn-lg custombtn" name="multicreatemark" id="multicreatemark" value="multimakereceipt" style="margin-top:-51px;">Make Receipt <i class="fa fa-caret-right" style="color:#fff;"></i></button>
	
	</div>
	
	</div>
	
	</form>
	
	</div>
	
	
	<div class="col-lg-5 col-md-5 coreproduct">
	
	
	
	
	
	<div class="well coreitem">
	
	<div class="row">
	
	<div class="col-md-12" style="text-align:center;">
	
	
	
	<h2 class="core-heading1" id="receipt">Sample Receipt</h2>
	
	
	
	<div class="col-md-12 col-md-offset-0">
	
	
	<ul class="list-inline" style="text-align:center;">
	<li><a href="" style="cursor:default;"><img src="http://expressexpense.com/images/square-taxi-receipt-2.jpg" class="img-responsive" alt="sample receipt template" style="height:560px;"/></a></li>
	</ul>
	
	</div>
	
	
	
	</div>
	
	</div>
	
	</div>

​
</div>






</div>