<div class="home">
	<div class="panel">
		<div class="panel-header">
			<h3>Welcome to your Dashboard Collins</h3>
			<h5>Invoice genertation and receipt</h5>
			<p>yay! we are in now.</p>
		</div>
	</div>

	<div class="container">
  <div class="widget">
    
    <div class="section section-graph">
      <div class="graph-info">
        <i class="graph-arrow"></i>
        <span class="graph-info-big">634.39</span>
        <span class="graph-info-small">+2.18 (3.71%)</span>
      </div>
      <div id="graph"></div>
    </div>
    
    <div class="section section-info">
      <span class="info-time">Today 2:25 PM</span>
      <h3 class="info-title">GetPaid City, Nairobi</h3>
      
      <div class="info-block">
        <dl>
          <dt>13.5 M</dt>
          <dd>Shares Traded</dd>
        </dl>
      </div>
      
      <div class="info-block last">
        <dl>
          <dt>28.44</dt>
          <dd>Market Cap</dd>
        </dl>
      </div>
      
      <div class="info-aapl">
        <h4>AAPL</h4>
        <ul>
          <li><span class="orange" style="height: 37.5%"></span></li>
          <li><span class="orange" style="height: 47.5%"></span></li>
          <li><span class="orange" style="height: 70%"></span></li>
          <li><span class="orange" style="height: 85%"></span></li>
          <li><span class="orange" style="height: 40%"></span></li>
          <li><span class="green" style="height: 75%"></span></li>
          <li><span class="green" style="height: 50%"></span></li>
          <li><span class="green" style="height: 15%"></span></li>
          <li><span class="green" style="height: 25%"></span></li>
        </ul>
      </div>
      
      <div class="yearly-change">
        <h4>Yearly Change</h4>
        <span><em>+</em> 127.01</span>
      </div>
    </div>
    <div class="section"></div>
  </div>
</div>

<script>
	$(function () {
  
  function generateNumber(min, max) {
    min = typeof min !== 'undefined' ? min : 1;
    max = typeof max !== 'undefined' ? max : 100;
    
    return Math.floor((Math.random() * max) + min);
  }
  
  var chart,
      categories = ['Categorie 1', 'Categorie 2', 'Categorie 3', 'Categorie 4', 'ategorie 5','Categorie 6', 'ategorie 7', 'Categorie 8', 'Categorie 9', 'Categorie 10', 'Categorie 11', 'Categorie 12', 'Categorie 13', 'Categorie 14', 'Categorie 15', 'Categorie 16', 'Categorie 17', 'Categorie 18', 'Categorie 19','Categorie 20', 'Categorie 21','Categorie 22', 'Categorie 23', 'Categorie 24', 'Categorie 25', 'Categorie 26', 'Categorie 27', 'Categorie 28', 'Categorie 29', 'Categorie 30'],
      serie1 = [13, 13, 46, 61, 23,12, 24, 16, 14, 12, 12, 24, 19, 13, 11, 11, 14, 11, 11, 11, 11, 13, 22, 10, 18, 15, 24, 31, 19, 10],
      serie2 = [52, 41, 58, 63, 55, 46, 45, 41, 38, 54, 50, 39, 48, 70, 63, 60, 58, 63, 83, 89, 83, 79, 83, 100, 104, 108, 52, 46, 83, 89],
      $aapls;
  
  $(document).ready(function() {

    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'graph',
        type: 'column',
        backgroundColor: 'transparent',
        height: 151,
        marginLeft: 3,
        marginRight: 3,
        marginBottom: 0,
        marginTop: 0
      },
      title: {
        text: ''
      },
      xAxis: {
        lineWidth: 0,
        tickWidth: 0,
        labels: { 
          enabled: false 
        },
        categories: categories
      },
      yAxis: {
        labels: { 
          enabled: false 
        },
        gridLineWidth: 0,
        title: {
          text: null,
        },
      },
      series: [{
        name: 'Awesomness',
        data: serie1
      }, {
        name: 'More Awesomness',
        color: '#fff',
        type: 'line',
        data: serie2
      }],
      credits: { 
        enabled: false 
      },
      legend: { 
        enabled: false 
      },
      plotOptions: {
        column: {
          borderWidth: 0,
          color: '#3d9e68',
          shadow: false
        },
        line: {
          marker: { 
            enabled: false 
          },
          lineWidth: 3
        }
      },
      tooltip: { 
        enabled: false
      }
    });
      
    setInterval(function() {
      chart.series[0].addPoint(generateNumber(), true, true);
      chart.series[1].addPoint(generateNumber(50, 150), true, true);
    }, 1000);
    
    
  
    setInterval(function() {
      $('.info-aapl span').each(function(index, elem) {
        $(elem).animate({
          height: generateNumber(1, 40)
        });
      });

    }, 3000);
  });
  
});
</script>



​
​
<div class="container scrollable">
	<div id="static" class="invoice-holder clearfix">
<form method="post" action="/pdf" class="form-horizontal" enctype="multipart/form-data">
	<div class="mobile-btns row visible-xs">
	<div class="col-xs-6">
	​​
<button type="submit" class="btn btn-primary btn-block">
	Download Invoice
	</button>
	</div>
	</div>
	
	<div class="invoice-controls desktop">
	<div class="btns clearfix">
	<p>
	<button type="submit" class="btn btn-primary btn-lg btn-block">
	Download Invoice
	</button>
	</p>
	</div>
	
	<div class="panel panel-default">
	<div class="panel-heading">Currency</div>
	<div class="panel-body">
	<select class="form-control" name="currency">
	<option value="$">$</option>
	<option value="£">£</option>
	<option value="¥">¥</option>
	<option value="€">€</option>
	<option value="₹">₹</option>
	<option value="R">R</option>
	<option value="د.إ">د.إ</option>
	<option value="﷼">﷼</option>
	<option value="Bs">Bs</option>
	<option label="No Currency" value=" "> </option>
	</select>
	</div>
	</div>
	
	<div class="panel panel-default">
	<div class="panel-heading">Tax</div>
	<div class="panel-body">
	<select class="form-control" name="fields[tax]">
	<option value="%">% Tax</option>
	<option value="1">Flat Tax</option>
	<option value="0">Off</option>
	</select>
	</div>
	</div>
	
	<div class="panel panel-default">
	<div class="panel-heading">Shipping</div>
	<div class="panel-body">
	<select class="form-control" name="fields[shipping]">
	<option value="1">On</option>
	<option value="0">Off</option>
	</select>
	</div>
	</div>
	
	<div class="panel panel-default">
	<div class="panel-heading">Discounts</div>
	<div class="panel-body">
	<select class="form-control" name="fields[discounts]">
	<option value="%">% Discount</option>
	<option value="1">Flat Discount</option>
	<option value="0">Off</option>
	</select>
	</div>
	</div>
	</div>
	
	<div class="papers">
	<div class="invoice">
	<div class="two-col clearfix">
	<div class="title">
	<input type="text" class="form-control input-label" name="header" value="INVOICE" />
	<div class="subtitle">
	<div class="input-group">
	<span class="input-group-addon">#</span>
	<input class="form-control" type="text" name="number" />
	</div>
	</div>
	</div>
	
	<div class="col">
	<div class="contact from">
	<div class="field">
	<input type="text" class="input-label form-control" name="from_title" value="From" />
	</div>
	<div class="value">
	<textarea class="form-control" placeholder="Who is this invoice from?" name="from"></textarea>
	</div>
	</div>
	
	<div class="contact to">
	<div class="field">
	<input type="text" class="input-label form-control" name="to_title" value="Bill To" />
	</div>
	<div class="value">
	<textarea class="form-control" placeholder="Who is this invoice to?" name="to"></textarea>
	</div>
	</div>
	</div>
	
	<div class="col">
	<div class="input-group addon-input">
	<input class="input-label form-control" type="text" name="date_title" value="Date" />
	<div class="input-group-addon">
	<input id="invoiceDate" class="form-control datepicker" type="text" name="date" value="Feb 3, 2017" />
	</div>
	</div>
	
	<div class="input-group addon-input">
	<input class="input-label form-control" type="text" name="due_date_title" value="Due Date" />
	<div class="input-group-addon">
	<input id="invoiceDueDate" class="form-control datepicker" type="text" name="due_date" />
	</div>
	</div>
	
	<div class="input-group addon-input highlight">
	<input class="input-label form-control" type="text" name="balance_title" value="Balance" />
	<div class="input-group-addon value"><span class="currency-symbol">$</span>0</div>
	</div>
	</div>
	</div>
	
	<div class="items-holder">
	<div class="items-table-header">
	<div class="amount">
	<div class="field bordered">
	<input type="text" class="input-label form-control" value="Amount" name="amount_header" />
	</div>
	</div>
	<div class="unit_cost">
	<div class="field bordered">
	<input type="text" class="input-label form-control" value="Rate" name="unit_cost_header" />
	</div>
	</div>
	<div class="quantity">
	<div class="field bordered">
	<input type="text" class="input-label form-control" value="Quantity" name="quantity_header" />
	</div>
	</div>
	<div class="name">
	<div class="field bordered">
	<input type="text" class="input-label form-control" value="Description" name="item_header" />
	</div>
	</div>
	</div>
	<div class="items-table">
	<div class="item-row">
	<div class="main-row">
	<div class="delete"></div>
	<div class="amount value">
	<span class="currency-symbol">$</span>0
	</div>
	<div class="unit_cost">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input class="item-calc form-control" type="number" step="any" autocomplete="off" name="items[0][unit_cost]" />
	</div>
	</div>
	<div class="quantity">
	<input type="number" step="any" class="item-calc form-control" autocomplete="off" name="items[0][quantity]" />
	</div>
	<div class="name">
	<textarea class="item-calc form-control" rows="1" name="items[0][name]" placeholder="Description of item/service..."></textarea>
	</div>
	</div>
	</div>
	<div class="item-row">
	<div class="main-row">
	<div class="delete"></div>
	<div class="amount value">
	<span class="currency-symbol">$</span>0
	</div>
	<div class="unit_cost">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input class="item-calc form-control" type="number" step="any" autocomplete="off" name="items[1][unit_cost]" />
	</div>
	</div>
	<div class="quantity">
	<input type="number" step="any" class="item-calc form-control" autocomplete="off" name="items[1][quantity]" />
	</div>
	<div class="name">
	<textarea class="item-calc form-control" rows="1" name="items[1][name]" placeholder="Description of item/service..."></textarea>
	</div>
	</div>
	</div>
	<div class="item-row">
	<div class="main-row">
	<div class="delete"></div>
	<div class="amount value">
	<span class="currency-symbol">$</span>0
	</div>
	<div class="unit_cost">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input class="item-calc form-control" type="number" step="any" autocomplete="off" name="items[2][unit_cost]" />
	</div>
	</div>
	<div class="quantity">
	<input type="number" step="any" class="item-calc form-control" autocomplete="off" name="items[2][quantity]" />
	</div>
	<div class="name">
	<textarea class="item-calc form-control" rows="1" name="items[2][name]" placeholder="Description of item/service..."></textarea>
	</div>
	</div>
	</div>
	<div class="item-row">
	<div class="main-row">
	<div class="delete"></div>
	<div class="amount value">
	<span class="currency-symbol">$</span>0
	</div>
	<div class="unit_cost">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input class="item-calc form-control" type="number" step="any" autocomplete="off" name="items[3][unit_cost]" />
	</div>
	</div>
	<div class="quantity">
	<input type="number" step="any" class="item-calc form-control" autocomplete="off" name="items[3][quantity]" />
	</div>
	<div class="name">
	<textarea class="item-calc form-control" rows="1" name="items[3][name]" placeholder="Description of item/service..."></textarea>
	</div>
	</div>
	</div>
	<div class="item-row">
	<div class="main-row">
	<div class="delete"></div>
	<div class="amount value">
	<span class="currency-symbol">$</span>0
	</div>
	<div class="unit_cost">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input class="item-calc form-control" type="number" step="any" autocomplete="off" name="items[4][unit_cost]" />
	</div>
	</div>
	<div class="quantity">
	<input type="number" step="any" class="item-calc form-control" autocomplete="off" name="items[4][quantity]" />
	</div>
	<div class="name">
	<textarea class="item-calc form-control" rows="1" name="items[4][name]" placeholder="Description of item/service..."></textarea>
	</div>
	</div>
	</div>
	<div class="item-row">
	<div class="main-row">
	<div class="delete"></div>
	<div class="amount value">
	<span class="currency-symbol">$</span>0
	</div>
	<div class="unit_cost">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input class="item-calc form-control" type="number" step="any" autocomplete="off" name="items[5][unit_cost]" />
	</div>
	</div>
	<div class="quantity">
	<input type="number" step="any" class="item-calc form-control" autocomplete="off" name="items[5][quantity]" />
	</div>
	<div class="name">
	<textarea class="item-calc form-control" rows="1" name="items[5][name]" placeholder="Description of item/service..."></textarea>
	</div>
	</div>
	</div>
	<div class="item-row">
	<div class="main-row">
	<div class="delete"></div>
	<div class="amount value">
	<span class="currency-symbol">$</span>0
	</div>
	<div class="unit_cost">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input class="item-calc form-control" type="number" step="any" autocomplete="off" name="items[6][unit_cost]" />
	</div>
	</div>
	<div class="quantity">
	<input type="number" step="any" class="item-calc form-control" autocomplete="off" name="items[6][quantity]" />
	</div>
	<div class="name">
	<textarea class="item-calc form-control" rows="1" name="items[6][name]" placeholder="Description of item/service..."></textarea>
	</div>
	</div>
	</div>
	<div class="item-row">
	<div class="main-row">
	<div class="delete"></div>
	<div class="amount value">
	<span class="currency-symbol">$</span>0
	</div>
	<div class="unit_cost">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input class="item-calc form-control" type="number" step="any" autocomplete="off" name="items[7][unit_cost]" />
	</div>
	</div>
	<div class="quantity">
	<input type="number" step="any" class="item-calc form-control" autocomplete="off" name="items[7][quantity]" />
	</div>
	<div class="name">
	<textarea class="item-calc form-control" rows="1" name="items[7][name]" placeholder="Description of item/service..."></textarea>
	</div>
	</div>
	</div>
	<div class="item-row">
	<div class="main-row">
	<div class="delete"></div>
	<div class="amount value">
	<span class="currency-symbol">$</span>0
	</div>
	<div class="unit_cost">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input class="item-calc form-control" type="number" step="any" autocomplete="off" name="items[8][unit_cost]" />
	</div>
	</div>
	<div class="quantity">
	<input type="number" step="any" class="item-calc form-control" autocomplete="off" name="items[8][quantity]" />
	</div>
	<div class="name">
	<textarea class="item-calc form-control" rows="1" name="items[8][name]" placeholder="Description of item/service..."></textarea>
	</div>
	</div>
	</div>
	<div class="item-row">
	<div class="main-row">
	<div class="delete"></div>
	<div class="amount value">
	<span class="currency-symbol">$</span>0
	</div>
	<div class="unit_cost">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input class="item-calc form-control" type="number" step="any" autocomplete="off" name="items[9][unit_cost]" />
	</div>
	</div>
	<div class="quantity">
	<input type="number" step="any" class="item-calc form-control" autocomplete="off" name="items[9][quantity]" />
	</div>
	<div class="name">
	<textarea class="item-calc form-control" rows="1" name="items[9][name]" placeholder="Description of item/service..."></textarea>
	</div>
	</div>
	</div>
	</div>
	</div>
	
	<div class="two-col clearfix">
	<div class="col col-offset">
	<div class="input-group addon-input">
	<input class="input-label form-control" type="text" name="subtotal_title" value="Subtotal" />
	<div class="input-group-addon value"><span class="currency-symbol">$</span>0</div>
	</div>
	
	<div class="input-group addon-input">
	<input class="input-label form-control" type="text" name="discounts_title" value="Discounts" />
	<div class="input-group-addon">
	<input type="text" class="form-control" name="discounts" />
	</div>
	</div>
	
	<div class="input-group addon-input">
	<input class="input-label form-control" type="text" name="tax_title" value="Tax" />
	<div class="input-group-addon">
	<input type="text" class="form-control" name="tax" />
	</div>
	</div>
	
	<div class="input-group addon-input">
	<input class="input-label form-control" type="text" name="shipping_title" value="Shipping" />
	<div class="input-group-addon">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input type="text" class="form-control" name="shipping" />
	</div>
	</div>
	</div>
	
	<div class="input-group addon-input">
	<input class="input-label form-control" type="text" name="total_title" value="Total" />
	<div class="input-group-addon value"><span class="currency-symbol">$</span>0</div>
	</div>
	
	<div class="input-group addon-input">
	<input class="input-label form-control" type="text" name="amount_paid_title" value="Amount Paid" />
	<div class="input-group-addon">
	<div class="input-group">
	<span class="input-group-addon currency-sign">$</span>
	<input type="text" class="form-control" name="amount_paid" />
	</div>
	</div>
	</div>
	</div>
	</div>
	
	<div class="footer">
	<div class="notes-holder">
	<div class="field">
	<input type="text" class="input-label form-control" name="notes_title" value="Notes" />
	</div>
	<div class="value">
	<textarea class="notes form-control" placeholder="Notes - any relevant information not already covered" name="notes"></textarea>
	</div>
	</div>
	<div class="terms-holder">
	<div class="field">
	<input type="text" class="input-label form-control" name="terms_title" value="Terms" />
	</div>
	<div class="value">
	<textarea class="terms form-control" placeholder="Terms and conditions - late fees, payment methods, delivery schedule" name="terms"></textarea>
	</div>
	</div>
	</div>
​​
	</div>
	</div>
	</form>

​
	</div>
	</div>
​
​




​
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-32926931-1', 'auto');
	ga('send', 'pageview');
	
	</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	
	<script type="text/javascript">
	window.defaultInvoice = {"header":"INVOICE","to_title":"Bill To","date_title":"Date","payment_terms_title":"Payment Terms","due_date_title":"Due Date","purchase_order_title":"Purchase Order","item_header":"Item","quantity_header":"Quantity","unit_cost_header":"Rate","amount_header":"Amount","subtotal_title":"Subtotal","discounts_title":"Discounts","tax_title":"Tax","shipping_title":"Shipping","total_title":"Total","amount_paid_title":"Amount Paid","balance_title":"Balance Due","terms_title":"Terms","notes_title":"Notes","version":4,"logo":null,"from":null,"to":null,"number":null,"purchase_order":null,"date":null,"payment_terms":null,"due_date":null,"items":[],"currency":"USD","fields":{"discounts":false,"tax":"%","shipping":false},"discounts":0,"tax":0,"shipping":0,"amount_paid":0,"notes":null,"terms":null};
	</script>






<div class="receipt container col-md-12">


​<div class="col-md-6">
​
<h2 class="core-heading1">Enter Receipt Details</h2>
	
	<form class="form-horizontal payment-form" action="" name="imageUpload" id="imageUpload" method="POST" enctype="multipart/form-data" >
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
​​
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-date" id="text1" value="" placeholder="Date">
	
	</div>
	
	</div>
	
	
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-time" value="" placeholder="Time">
	
	</div>
	
	</div>
	
	
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-business" value="" id="text6" placeholder="Business">
	
	</div>
	
	</div>
	
	
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-address" value="" id="text2" placeholder="Address">
	
	</div>
	
	</div>
	
	
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-location" value="" id="text2" placeholder="City, State">
	
	</div>
	
	</div>
	
	
	
	
	
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	
	<div class="col-sm-4">
	<select class="form-control maininput" name="text-currency" id="text-currency">
	<option value ="$" selected >$</option>
	<option value ="pounds" > &#163;</option>
	<option value ="euros" > &#8364; </option>
	<option value ="DHS" > DHS </option>
	
	<option value ="INR" > Rs </option>
	<option value ="SGD" > SG $ </option>
	
	<option value ="none">None</option>
	</select>
	</div>
	
	<div class="col-sm-6">
	
	
	
	
	<input type="text" class="form-control maininput" name="text-cost" value="" id="text3" placeholder="Cost">
	</div>
	
	</div>
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	
	
	<input type="text" name="text-tip" class="form-control maininput" value="" id="text5" placeholder="Tip / Tax/ Additional "/>
	
	</div>
	
	</div>
	
	<div class="form-group">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	<input type="text" class="form-control maininput" name="text-last4" value="" id="text4" placeholder=" Payment:(VISA, MC, CASH)">
	
	</div>
	
	</div>
	
	
	
	
	
	<div class="radio" style="text-align:left;">
	
	<div class="col-sm-2"></div>
	
	<div class="col-sm-10">
	
	<label>
	
	<input type="hidden" name="style" class="set-group" id ="receipt1" value="square-taxi-receipt" />
	
	</label>
	
	</div>
	
	</div>
	<div id='p_scents' style="display:none" >
	<div class="row rowitems">
	<div class="col-md-3">QTY </div>
	<div class="col-md-5">ITEM </div>
	<div class="col-md-3">COST</div>
	</div>	
	
	
	<div class="row">
	<div class="col-md-3"> <input type="text" class="form-control maininput" id="p_qty" size="3" name="p_qty[]" value="" placeholder="QTY" /></div>
	<div class="col-md-5"> <input type="text" class="form-control maininput" id="p_scnt" size="24" name="p_scnt[]" value="" placeholder="Item Name" /></div>
	<div class="col-md-3"> <input type="text" class="form-control maininput" id="p_price" size="6" name="p_price[]" value="" placeholder="PRICE" /></div>
	<div class="col-md-1"></div>
	</div><br /> 
	</div>
	
	<div id='p_scents_a' style="display:none" >
	<div class="col-md-12">
	<a href="#" id="addScnt">&#8227;Click to Add Another Item</a>
	</div>
	<br><br>
	<div class="col-md-12">
	<input type="checkbox" name="ShowTip" value="Yes" > Display Tip Line<br>
	<input type="checkbox" name="ShowTotal" value="Yes" > Display Total Line<br>
	<input type="checkbox" name="ShowToGo" value="Yes" > Add "To Go" Line<br>
	</div>
	</div>
	<div class="form-group" style="visibility:hidden;">
	
	<label for="inputEmail3" class="col-sm-1 control-label"></label>
	
	<div class="col-sm-10">
	
	
	
	<select class="form-control maininput" name ="logo" id="logo" disabled>
	
	<option value="taxi" >Taxi</option>
	
	<option value="generic" >Bar Code</option>
	
	<option value="restaurant" >Restaurant</option>
	
	<option value="coffee" >Coffee</option>
	
	<option value="office" >Office Supply</option>
	
	<option value="map" >Map</option>
	
	
	
	</select>
	
	</div>
	
	</div>
	
	
	
	<div class="form-group">
	
	<div class="col-sm-offset-1 col-sm-10">
	
	<button type="submit" class="btn btn-default btn-lg custombtn" name="multicreatemark" id="multicreatemark" value="multimakereceipt" style="margin-top:-51px;">Make Receipt <i class="fa fa-caret-right" style="color:#fff;"></i></button>
	
	</div>
	
	</div>
	
	</form>
	
	</div>
	
	
	<div class="col-lg-5 col-md-5 coreproduct">
	
	
	
	
	
	<div class="well coreitem">
	
	<div class="row">
	
	<div class="col-md-12" style="text-align:center;">
	
	
	
	<h2 class="core-heading1" id="receipt">Sample Receipt</h2>
	
	
	
	<div class="col-md-12 col-md-offset-0">
	
	
	<ul class="list-inline" style="text-align:center;">
	<li><a href="" style="cursor:default;"><img src="http://expressexpense.com/images/square-taxi-receipt-2.jpg" class="img-responsive" alt="sample receipt template" style="height:560px;"/></a></li>
	</ul>
	
	</div>
	
	
	
	</div>
	
	</div>
	
	</div>

​
</div>






</div>